.Images {
  background-color: wheat;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
  max-width: 700px;
  min-width: 300px;
}

.Image {
  padding: 10px;
  width: max-content;
  background-color: whitesmoke;
  margin: 10px 10px;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
}

.Image img {
  width: 350px;
  border: 2px solid black;
}

.Image_list {
  margin-bottom: 20px;
}
